@import "tailwindcss";

@theme {
    --font-family-vazir: "Vazirmatn", "Tahoma", sans-serif;
    --font-family-inter: "Inter", sans-serif;
}

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));


